#frame {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 50px auto 50px;
    grid-template-areas:
        "header"
        "body"
        "footer";
    width: 100%;

    #header {
        grid-area: header;
        display: grid;
        width: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "left right";

        .left {
            grid-area: left;
            img {
                height: 40px;
            }
        }

        .right {
            grid-area: right;
            text-align: right;
            padding: 5px;

            .iconLink {
                color: $dlrg-yellow;
                transition: all .5s ease-in-out;
                font-size: 30px;
                &:hover {
                    color: $dlrg-white;
                }
            }
        }
    }

    #body {
        grid-area: body;
        background-color: $dlrg-white;
        color: $dlrg-black;
    }

    #footer {
        grid-area: footer;
    }

    #header,
    #footer {
        background-color: $dlrg-red;
        color: $dlrg-yellow;
        padding: 5px;
    }
}