* {
    border: 0;
    padding: 0;
    margin: 0;
    box-sizing: content-box;
    font-family: sans-serif;
}

body {
    background: #000;
    color: #999;
}

@import "var";
@import "frame";
@import "elements";